# This is a basic workflow to help you get started with Actions

name: Baseline-Init
defaults:
  run:
    shell: bash -ieo pipefail {0}

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master,develop]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
#     runs-on: self-hosted
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Install Deps
        run: |
          echo $PATH
          sudo npm install -g @cloudbase/cli@latest lerna@3.20.2
          cd scripts && npm install && cd ..


      # Runs a set of commands using the runners shell
      - name: Build
        run: |
          echo $PATH
          node -v
          npm install 
          npm run bootstrap
          npm run build
          sudo CLOUDBASE_FX_ENV=dev CI=true envId=${{ secrets.ENV_ID }} SecretId=${{ secrets.SECRET_ID }} SecretKey=${{ secrets.SECRET_KEY }} node scripts/local-e2e.js
          
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ failure() }}
        with:
          limit-access-to-actor: true
