# This is a basic workflow to help you get started with Actions

name:  Build Image 

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [feature/build-image]
    tags:
      - v*

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Build
        run: |
          docker -v
          echo ${{ secrets.DOCKERIO_PASSWORD }}  | docker login -u ${{ secrets.DOCKERIO_USRNAME }}
          echo ${{ secrets.CCR_PASSWORD }}  | docker login -u ${{ secrets.CCR_USRNAME }} --password-stdin ccr.ccs.tencentyun.com
          npm i 
          npm run build:image
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ failure() }}
        with:
          limit-access-to-actor: true
